* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
	  line-height: 1.6;
	  color: #555753; 
    background-color: #fdf7f5;
    text-align: justify;
	  margin-top: 0; 
	}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif; 
    color: #3a3a3a;
}

section p, section ul, section li {
    text-align: justify;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #555753;
}

ul li {
  margin-bottom: 0.5rem;
}

/* NAVBAR */ 
.navbar-brand {
  color: #c08f8f;
  font-family: 'Playfair Display', serif;
  }

.navbar-nav .nav-link {
  color: #3a3a3a;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active-link {
  color: #c08f8f !important;
}

.btn-outline-pink {
  color: #c08f8f;         
  border-color: #c08f8f;   
  background-color: white;  
}

.btn-outline-pink:hover {
  background-color: #c08f8f; 
  color: white;              
}

/* HERO */ 
.hero-image {
  position: relative;
  height: auto;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-image .hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: filter var(--transition-speed);
}

.hero-content {
  position: absolute;        
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;           
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #f6f6f6;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* CAROUSEL */ 
#Pilatescarousel .carousel-inner img {
  max-height: 650px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


/* OUR CLASSES */ 
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* FORM */ 
#form h2 {
  font-weight: 600;
}

#form .btn-primary {
  background-color: #d4a5a5;  
  border: none;
}

#form .btn-primary:hover {
  background-color: #c08f8f;
}

/* SOCIAL */ 
.social {
  text-align: center; 
  margin: 40px 0;     
}

.social-text {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-links a {
  margin: 0 10px;          
  color: #c08f8f;          
  transition: transform 0.2s, color 0.2s;
}

.social-links a:hover {
  color: #e59999;          
  transform: scale(1.2);   
}


/* COOKIES */ 
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f3dede; 
  color: #555;
  text-align: center;
  padding: 12px 20px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
  z-index: 9999;
  font-size: 0.9rem;
}

.cookie-btn {
  background-color: #c08f8f;
  color: white;
  border: none;
  margin-left: 10px;
}

.cookie-btn:hover {
  background-color: #b58b8b;
}


.active-link {
  color: #d4a5a5 !important;
  font-weight: 700 !important;
}
